 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Arial', sans-serif;
   }
   .header {
    min-height: 100vh;
    width: 100%;
   background-image: url(download\ \(2\).jpeg);
   background-position: center;
   background-size: cover;
   position: relative;
   }