 body{
    font-family: arial,sans-serif;
    background-color:lightblue;
 }
 .container{
    width: 300px;
    margin: 50px auto;
    padding: 50px;
    background-color: antiquewhite;
    border: 1px solid greenyellow;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

 }

 label {
    display: block;
    margin-bottom: 10px;

 }

 input[type="text"], input[type="passord"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid ;
    border-radius: 5px;
    cursor: pointer;
 }
 button[type="submit"] {
    width: 100px;
    height: 40px;
    background-color: rgb(183, 226, 43);
    color: purple;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }
 button[type="sub,it"]:hover {
    background-color: rgb(203, 4, 37);
 }